.container {
  max-width: 400px;
  margin: "10vh auto 0 auto";
  align-items: center;

  /* box-shadow: 43px 17px #999999; */
}

/* body {
    font-family: ;
    font-weight: ;
    font-style: normal;
  } */

#display {
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
  background-color: #093335;
  margin-top: 80px;
}

.buttons {
  display: grid;
  border-bottom: 1px solid #999;
  border-left: #999;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 0.5px solid #999;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
}

.buttons > div {
  border-top: 1px solid #999;
  border-right: 1px solid #a89d9d;
}

#equal {
  background-color: #55f;
  color: white;
}
